@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800;900&display=swap');

/* ! All Selector  Start*/

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* ! All Selector End */


/* ! Selector Preloader Start */

/* Preloader */
.preloader {
    --bg-color: #9810F2;
    --size: 200px;
    --first-color: #ff7473;
    --second-color: #ffc952;
    --third-color: #47b8e0;
    --thickness: 3px;
    --duration: 1s;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--duration);
}

.preloader_content {
    position: relative;
    width: var(--size);
    height: var(--size);
}

.preloader_first,
.preloader_second,
.preloader_third {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: var(--duration) linear infinite;
}

.preloader_first {
    border-bottom: var(--thickness) solid var(--first-color);
    animation-name: first;
}

.preloader_second {
    border-right: var(--thickness) solid var(--second-color);
    animation-name: second;
}

.preloader_third {
    border-top: var(--thickness) solid var(--third-color);
    animation-name: third;
}

@keyframes first {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes second {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes third {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* ! Selector Preloader End */


/* ! Selector Body  Start*/

.navbar {
    z-index: 5;
}

#about {
    background-color: #f3d8ff;
    margin-top: -50px;
    padding-bottom: 300px;
    color: #000000;
}

#contact {
    margin-top: 200px;
    margin-bottom: 50px;
    background-color: #f3d8ff;
}

#contact .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.icon-contact img {
    width: 40px;
}

footer .copyright {
    padding-top: 10px;
    padding-bottom: 40px;
}

/* ! Selector Body End */


/* ! Responsive Selector Start */

/* Breakpoint */

@media (min-width: 320px) {
    .home img {
        width: 250px;
    }

    #about p,
    h5 {
        font-size: 15px;
    }

    #about p.quotes-text {
        font-size: 15px;
    }

    td {
        font-size: 15px;
    }

    .icon-contact img {
        width: 30px;
    }

    .copyright {
        margin-top: -2px;
        height: 120px;
    }

    .copyright p {
        margin-top: 30px;
    }
}


@media (min-width: 768px) {
    .home-text .myName {
        font-size: 50px;
    }

    .icon-contact img {
        width: 90px;
    }

    footer .copyright {
        padding-bottom: 20px;
    }
}

/* ! Responsive Selector End */