@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800;900&display=swap');

/* ! All Selector  Start*/

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* ! All Selector End */


/* ! Selector Preloader Start */

/* Preloader */
.preloader {
    --bg-color: #9810F2;
    --size: 200px;
    --first-color: #ff7473;
    --second-color: #ffc952;
    --third-color: #47b8e0;
    --thickness: 3px;
    --duration: 1s;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--duration);
}

.preloader_content {
    position: relative;
    width: var(--size);
    height: var(--size);
}

.preloader_first,
.preloader_second,
.preloader_third {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: var(--duration) linear infinite;
}

.preloader_first {
    border-bottom: var(--thickness) solid var(--first-color);
    animation-name: first;
}

.preloader_second {
    border-right: var(--thickness) solid var(--second-color);
    animation-name: second;
}

.preloader_third {
    border-top: var(--thickness) solid var(--third-color);
    animation-name: third;
}

@keyframes first {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes second {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes third {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* ! Selector Preloader End */


/* ! Selector Body  Start*/

.navbar {
    z-index: 5;
}

#about {
    background-color: #f3d8ff;
    margin-top: -50px;
    padding-bottom: 300px;
    color: #000000;
}

#questioner {
    margin-top: 150px;
    margin-bottom: 250px;
    width: 100%;
    padding-top: 60px;
    background-color: #f4f5f6;
}

#questioner .card-body .btn {
    border: 1px inset black;
}

#questioner .card-body .btn:hover {
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.100), -5px 5px 15px rgba(0, 0, 0, 0.100);
}

#contact {
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: #f3d8ff;
}

#contact .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.media {
    width: 150px;
    height: 125px;
    border-radius: 20px;
    background-color: #f3d8ff;
}

.media .logo {
    width: 100px;
    height: 100px;
    background-color: #f3d8ff;
    position: relative;
    border-radius: 50%;
    top: -50px;
    left: 14px;
}

.media .logo::before,
.media .logo::after {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    background: linear-gradient(45deg, #ff006e, #9810f2, #8338ec, #3a86ff);
    z-index: -1;
    background-size: 900%;
    animation: borderbg 10s linear infinite;
    border-radius: 50%;
}

@keyframes borderbg {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.media .logo::after {
    filter: blur(3px);
}

.media .logo img {
    margin: 25px 20px;
}

.media .desc {
    margin-top: -50px;
    font-variant: small-caps;
}

.media .desc h4 {
    font-size: 30px;
    font-weight: bold;
}

.media .desc button {
    margin-top: 10px;
    border-radius: 10px;
}

.media .desc button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.media .desc button:active {
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.media .desc button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.media .desc button::after {
    background-color: #fff;
}

.media .desc button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.input:focus {
    transform: scale(1.04);
}

footer .copyright {
    padding-top: 10px;
    padding-bottom: 40px;
}

/* ! Selector Body End */


/* ! Responsive Selector Start */

/* Breakpoint */

@media (min-width: 320px) {
    .home img {
        width: 250px;
    }

    #about p,
    h5,
    td {
        font-size: 14px;
    }

    #about p.quotes-text {
        font-size: 16px;
    }

    #questioner {
        height: 670px;
    }

    .media {
        margin-top: 40px;
        margin-bottom: 60px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .copyright {
        margin-top: -2px;
        height: 120px;
    }

    .copyright p {
        margin-top: 30px;
    }
}


@media (min-width: 768px) {
    .home-text .myName {
        font-size: 50px;
    }

    .home img {
        width: 400px;
    }

    footer .copyright {
        padding-bottom: 20px;
    }
}

@media (min-width: 1440px) {

    #about p,
    h5,
    td {
        font-size: 16px;
    }

    #about p.quotes-text {
        font-size: 18px;
    }

    #questioner {
        height: 490px;
    }

    .media {
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 80px;
    }

}

/* ! Responsive Selector End */