#question {
    width: 100%;
    margin-top: 40px;
    padding-top: 50px;
    background-color: #f4f5f6;
}

#question .container .box-1 {
    width: 100%;
    height: 570px;
    padding-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.10), 0px 0px 5px rgba(0, 0, 0, 0.10);
}

#question .introduce {
    margin-top: 50px;
}

#question .container .box-2 {
    width: 100%;
    height: 1200px;
    margin-top: 50px;
    padding-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.10), 0px 5px 5px rgba(0, 0, 0, 0.10);
}

#question .question {
    margin-top: 50px;
}

.btn-answer blockquote {
    text-decoration: none;
    color: #000000;
    padding-bottom: 20px;
    font-size: 20px;
}

.btn-answer .btn-kirim {
    background-color: #9810f2;
    color: #ffffff;
    width: 180px;
    height: 60px;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 -1px 5px rgba(0, 0, 0, 0.3);
}

.btn-answer .btn-kirim:active {
    background-color: #ffffff;
    border: 1px solid #9810f2;
    color: #9810f2;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
}

.btn-answer .btn-loading {
    background-color: #ffffff;
    border: 1px solid #9810f2;
    color: #9810f2;
    width: 180px;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 5px;
}

.submit {
    margin-bottom: 150px;
}

@media (min-width: 320px) {

    #question {
        height: 2250px;
        font-size: 14px;
    }

    #question .container .box-1 .btn-upload {
        width: 290px;
        height: 45px;
        box-sizing: border-box;
        margin-top: 30px;
        padding-top: 13px;
        background-color: #001eff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 -1px 5px rgba(0, 0, 0, 0.3);
    }

    #question .container .box-1 .btn-upload:active {
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.200), 0 0 10px rgba(0, 0, 0, 0.200);
    }

    .btn-upload a {
        text-decoration: none;
        color: #ffffff;
    }

    #question .container .box-2 {
        height: 1500px;
    }

    .submit img {
        width: 300px
    }

    .submit .btn-answer {
        margin-top: 20px;
    }

    button {
        padding: 20px 15px;
        margin-left: 55px;
    }

    .submit .btn-answer p {
        margin-bottom: 30px;
    }

}

@media (min-width: 375px) {

    #question .container .box-1 .btn-upload {
        width: 325px;
        height: 45px;
        box-sizing: border-box;
        margin-top: 30px;
        padding-top: 13px;
        background-color: #001eff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 -1px 5px rgba(0, 0, 0, 0.3);
    }

    .submit img {
        width: 300px;
        margin-left: 20px;
    }

    .submit .btn-answer {
        margin-top: 20px;
    }

    button {
        padding: 20px 15px;
        margin-left: 80px;
    }

    .submit .btn-answer p {
        margin-bottom: 30px;
    }

}

@media (min-width: 425px) {

    #question .container .box-1 .btn-upload {
        width: 375px;
        height: 45px;
        box-sizing: border-box;
        margin-top: 30px;
        padding-top: 13px;
        background-color: #001eff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 -1px 5px rgba(0, 0, 0, 0.3);
    }

    .submit img {
        width: 300px;
        margin-left: 40px;
    }

    .submit .btn-answer {
        margin-top: 20px;
    }

    button {
        padding: 20px 15px;
        margin-left: 110px;
    }

    .submit .btn-answer p {
        margin-bottom: 30px;
    }

}

@media (min-width: 768px) {

    #question .container .box-1 .btn-upload {
        width: 615px;
        height: 45px;
        box-sizing: border-box;
        margin-top: 30px;
        padding-top: 13px;
        background-color: #001eff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 -1px 5px rgba(0, 0, 0, 0.3);
    }

    .submit img {
        width: 300px;
        margin-left: 40px;
    }

    .submit .btn-answer {
        margin-top: 20px;
    }

    button {
        padding: 20px 15px;
        margin-left: -40px;
    }

    .submit .btn-answer p {
        margin-bottom: 30px;
        margin-left: -40px;
    }

}

@media (min-width: 1000px) {

    #question .container .box-1 .btn-upload {
        width: 830px;
        height: 45px;
        box-sizing: border-box;
        margin-top: 30px;
        padding-top: 13px;
        background-color: #001eff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 -1px 5px rgba(0, 0, 0, 0.3);
    }

    .submit img {
        width: 400px;
        margin-left: 20px;
    }

    .submit .btn-answer {
        margin-top: 60px;
        margin-left: -20px;
    }

    button {
        padding: 20px 15px;
        margin-left: -40px;
    }

    .submit .btn-answer p {
        margin-bottom: 30px;
    }

}

@media (min-width: 1440px) {

    #question {
        font-size: 17px;
        height: 2190px;
    }

    #question .container .box-1 .btn-upload {
        width: 1165px;
        height: 45px;
        box-sizing: border-box;
        margin-top: 30px;
        padding-top: 13px;
        background-color: #001eff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 -1px 5px rgba(0, 0, 0, 0.3);
    }

    #question .container .box-1 .btn-upload:active {
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.200), 0 0 10px rgba(0, 0, 0, 0.200);
    }

    .btn-upload a {
        text-decoration: none;
        color: #ffffff;
    }

    .submit img {
        width: 600px;
    }

    .submit .btn-answer {
        margin-top: 130px;
        margin-left: -150px;
    }

    button {
        padding: 20px 15px;
        margin: 0 0px;
        margin-left: 20px;
    }

    .submit .btn-answer p {
        font-size: 20px;
        width: 500px;
        margin-left: 20px;
    }

}